.sun-container{
    height: 120px;
    width: 120px;
    background: linear-gradient(to bottom,#faac27, #ffa200);
    border-radius: 50%;
    background-size: cover;
    box-shadow: -4px 2px 56px #F9c05F;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 2; 
  
}

.modall{  
    position: fixed;
    background-color: blue;
    height: 500px;
    width: 500px;
    top: 15%;
    left: 33.5%;
    z-index: 10;
}
