

*{
    margin: 0px;
    
}

.bot{
    background-color: rgb(3, 0, 42);
    max-height: 40px;
    justify-content: space-around;
    align-items: center;
    box-shadow: -4px 2px 56px rgb(8, 0, 93);
    display: flex;
   
}

.planets-t{
display: inline-block;
cursor: pointer;
transition: 0.7s;
max-height: 45px;
font-family: 'Roboto mono', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 15px;


}
.planets-t span{
      color:rgb(3, 0, 42) ;
      transition: 0s;
    }
    .planets-t:hover span{
        color:rgb(5, 0, 75) ;
      }
.planets-t:hover{
    max-height: 45px;
    background-color: rgb(5, 0, 75) ;

}
.soll{
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom,#faac27, #ffa200);
    border-radius: 48%;
    background-size: cover;
    position: relative;
    display: inline-block;
}
.mercuri{
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom,#525252, #9e9e9e);
    border-radius: 50%;
   
    position: relative;
    display: inline-block;
}
.imag{
   height: 20px; 
   position: relative;
   display: inline-block;
}

.text{
    color: beige;
    margin-bottom: 5px;
    padding-bottom: 20px;
    box-sizing: border-box;
    
}

.custom-modal .modal-content{
    border-radius: 5%;
    background-color:rgb(3, 0, 42) ;

}

.modalb{
  text-align: center; 
  background-color: rgba(255, 255, 255, 0.256);
  
}

.modal-bo{
    background-color:rgb(3, 0, 42) ;
    color: white;
    border-radius: 5%;

}
.bo-eu{
    height: 275px;
    width: 275px;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bo-ola{
    padding-top: 280px;
}
.bo-ola span{
    color: #f9e4b7;
    font-family: 'Roboto mono', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bo-pouco{
    padding-top: 280px;
    font-family: 'Roboto mono', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.bo-work{
    background-color: rgb(255, 140, 32);
    color: black;
    font-family: 'Roboto mono', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    width: 100% ;
    
}
.bo-resto{
  padding-left: 50px;
   width: 400px;
}
/* width de 767 */

@media(max-width:767px){


    .bot{
    background-color: rgb(3, 0, 42);
    box-shadow: -4px 2px 56px rgb(8, 0, 93);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     max-height: none;
     justify-content: none;
     align-items: none;
}

.planets-t{
    
    cursor: pointer;
    transition: 0.7s;
    margin-left: none;
    font-family: 'Roboto mono', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    max-height: none;
    display:inline-block;
    }

    .bo-resto{
        max-width: 350px;
        padding-right: 20px;
        padding-left: 0px;
      }


}

@media (min-width:1440px){
    .bot{
        background-color: rgb(3, 0, 42);
        max-height: 40px;
        justify-content: center;
        box-shadow: -4px 2px 56px rgb(8, 0, 93);
       
    }
    .planets-t{
    
    margin-left: 35px;
    cursor: pointer;
    transition: 0.7s;
    max-height: 45px;
    font-family: 'Roboto mono', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    
    
    }
}