.eu-lport{
    /* background-color: rgb(1, 0, 15); */
    padding-top: 95px;
    color: white;
    padding-bottom: 90px;


}

.WidthLeft{
    margin: 0 auto;
    max-width: 1200px;
}
.container-left{
    display: flex;


}



.img-r{ 
    width: 400px;
    margin-left: 120px;
}

.text-left{
    margin-top: 70px;
    width: 600px;
    position: relative;
    margin-left: 50px;

}

.bor-l{
    position: absolute;
    width: 150px;
    
}
.borr-l{
margin-left: 200px;
margin-bottom: 60px;
}
.porte-l{
    position: absolute;
}
.title-port-l{
    font-family: 'Roboto mono', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f9e4b7;
    font-size: 32px;
    
}
.title-port-l span{
    color: rgb(255, 140, 32);
}

.text-port-l{
    font-size: 19px;
}
@media (min-width: 1024px) and (max-width:1440px){
    .img-r{ 
        width: 400px;
        margin-left: 230px;
        margin-right: 70px;
    }
}

@media (min-width: 768px) and (max-width:1023px){

    .eu-lport{
        padding-bottom: 150px;
    }
    .container-left{
        display: inline;
    }
    .img-r{ 
        width: 400px;
        margin-left: 0px;
        position: relative;
    }
    .text-left{
        margin-top: 300px;
        width: 600px;
        position: absolute;
        margin-left: 100px;
       
    }
}
@media (max-width:767px){

    .eu-lport{
        padding-bottom: 400px;
    }
    .container-left{
        display: inline;
    }
    .img-r{ 
        width: 350px;
        margin-left: 0px;
        position: relative;
    }
    .text-left{
        margin-top: 250px;
        width: 350px;
        position: absolute;
        margin-left: 10px;
       
    }
    .borr-l{
        margin-left: 100px;
        margin-bottom: 60px;
        }
}