.eu-port{
    padding-top: 95px;
    padding-bottom: 30px;
    color: white;
    overflow-x: hidden;
}


.container-right{
    display: flex;
    justify-content: flex-end;
    
}

.widthRight{
    margin: 0 auto;
    max-width: 1200px;
}

.img-l{ 
    margin-right: 120px;
    width: 400px;
}

.text-rigth{
    max-width: 600px;
    margin-right: 0px;
    display: inline-block;
    position: relative

}

.bor{
    position: absolute;
    width: 150px;
    
}
.borr{
margin-right: 700px;
margin-bottom: 60px;
}
.porte{
    position: absolute;
}
.title-port{
    font-family: 'Roboto mono', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f9e4b7;
    font-size: 32px;
    
}
.title-port span{
    color: rgb(255, 140, 32);
}

.text-port{
    font-size: 19px;
}
@media (min-width: 1024px) and (max-width:1440px){
    .img-l{ 
        width: 400px;
        margin-right: 230px;
        margin-left: 70px;
    }
}
@media (min-width: 768px) and (max-width:1023px){

    .eu-port{
        padding-bottom: 500px;
    }
    .container-right{
        display: inline;
    }
    .img-l{ 
        width: 400px;
        margin-left: 170px;
        position: relative;
    }
    .text-rigth{
        margin-top: 0x;
        margin-right: 0px;
        display: flex;
        width: 600px;
        position: absolute;
        margin-left: 90px;
       
    }
}
@media (max-width:767px){

    .eu-port{
        padding-bottom: 400px;
    }
    .container-right{
        display: inline;
    }
    .img-l{ 
        width: 350px;
        margin-left: 15px;
        position: relative;
    }
    .text-rigth{
        margin-top: 0x;
        margin-right: 50px;
        display: flex;
        width:350px;
        position: absolute;
        margin-left: 10px;
       
    }
}

